<style>
  .mi-fuente-personalizada {
    font-family: 'roboto', sans-serif;
}
</style>

<!--<header data-headroom class="header fixed-top">-->
  <nav class="navbar navbar-expand-lg text-uppercase py-0 text-white bg-primary">
    <a class="navbar-brand d-lg-none py-0 ms-4 me-0" href="#">
     <span class="text-white ">Task GPT</span>
    </a>
    <div class="offcanvas offcanvas-end vh-100" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
      <div class="container-lg">
        <div class="row flex-grow-1 p-4 p-lg-0">
          <div class="d-flex d-lg-block col-lg-4 order-1 order-lg-2 text-lg-center">
            <button type="button" class="d-lg-none border-0 bg-transparent p-0 ms-auto" data-bs-dismiss="offcanvas" aria-label="Cerrar">
              <i class="fa-solid fa-close"></i>
            </button>
            <a class="navbar-brand mt-1 d-none fw-bold d-lg-block py-0 me-0 text-white mi-fuente-personalizada" href="/home">
              Task <span class="fw-bold text-white mi-fuente-personalizada">GPT</span>
            </a>
          </div>
          <div class="col-lg-4 order-2 order-lg-1 ms-auto ms-lg-0">
            <ul class="navbar-nav d-flex flex-column flex-lg-row">
              <li class="nav-item me-4 me-xxl-5">
                <a class="nav-link" href="#">Link 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 order-3">
            <ul class="navbar-nav d-flex flex-column flex-lg-row justify-content-lg-end">
              <li class="nav-item me-4 me-xxl-5">
                <a class="nav-link" href="#">Link 4</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
    <i class="fa-solid fa-bars"></i>
  </button>
<!--</header>-->


